@import "tailwindcss";

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf")
        format("truetype");
    font-weight: bolder;
    font-style: normal;
}

@theme {
    --section: calc(100vh - 112px);
    --section-mobile: calc(100svh - 112px);
    --color-mint-500: oklch(0.72 0.11 178);
    --font-display: "Montserrat", sans-serif, system-ui;
    --whitening: brightness(0) saturate(100%) invert(100%) sepia(0%)
        saturate(7491%) hue-rotate(52deg) brightness(105%) contrast(101%);
    --text-header: clamp(78px, 10vw, 160px);
    --text-header--font-weight: 800;
    --text-header--line-height: 0.8;
}

.text-stroke {
    -webkit-text-stroke: 1px white;
    @variant dark {
        -webkit-text-stroke: 1px black;
    }
}

@layer base {
    body {
        background-color: #f1f5f9;
        @variant dark {
            background-color: #27272a;
        }
    }
    /* Target the scrollbar itself */
    html::-webkit-scrollbar {
        width: 8px; /* This will only affect the thumb's width */
        background: transparent; /* Make the track area transparent */
    }

    /* Target the track - make it transparent */
    html::-webkit-scrollbar-track {
        background: transparent; /* Fully transparent track */
    }

    /* Target the thumb */
    html::-webkit-scrollbar-thumb {
        background: linear-gradient(#0ca5e9, #facc18);
        border-radius: 4px; /* Optional: makes the thumb rounded */
    }

    /* Hover styles for the thumb */
    html::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(#f87171, #242424);
    }

    html.dark::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(#f87171, #fff);
    }
}

@custom-variant dark (&:where(.dark, .dark *));
